############
#  A Test  #
############
snippet hw "Hello World"
Hello World
endsnippet

######################
#  Waynes Snippets  #
######################
snippet head "Header"
######################################################################
# Description: ${1: Description of following code}
#
# Added `!v strftime("%F %H:%M:%S%z")` by `!v expand($USER)`
######################################################################

endsnippet

